# googlesearch
arduino-python3
PyYAML~=5.1.2
urllib3~=1.25.9
requests~=2.24.0
wtforms~=2.3.1
blinker
chatterbot~=1.0.5
fuzzywuzzy~=0.18.0
telepot~=12.7
bs4~=0.0.1
google
wikipedia~=1.4.0
pymysql~=0.9.3
pytz
python-Levenshtein
Flask~=1.1.2
arduino-python3
flask-sqlalchemy
flask-migrate
flask-script
flask-wtf
chatterbot_corpus
psutil~=5.7.0
email_validator
SQLAlchemy~=1.2.19
beautifulsoup4~=4.9.1
pyserial~=3.4
alembic~=1.4.2