requests
wtforms
blinker
chatterbot
fuzzywuzzy
telepot
bs4
google
wikipedia
pymysql
pytz
python-Levenshtein
Flask
arduino-python3
flask-sqlalchemy
flask-migrate
flask-script
flask-wtf
chatterbot_corpus