{% extends 'base.html' %}
{% block item_painel %}active{% endblock %}
{% block content %}

<!--
{% block title %}{{super()}} - Dashboard {% endblock %}
-->


  <div id="wrapper">


    <div id="content-wrapper">

      <div class="container-fluid">

        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="#">Painel de controle</a>
          </li>
          <li class="breadcrumb-item active">Visão Global</li>
        </ol>

        <!-- Icon Cards-->
        <div class="row">
          <div class="col-xl-3 col-sm-6 mb-3">
              <div class="card text-white bg-success o-hidden h-100">
                <div class="card-body">
                  <div class="card-body-icon">
                    <i class="fas fa-microchip"></i>
                  </div>
                  <div id="cpu" class="mr-5">0% CPU!</div>
                </div>
              </div>
            </div>
          <div class="col-xl-3 col-sm-6 mb-3">
            <div class="card text-white bg-primary o-hidden h-100">
              <div class="card-body">
                <div class="card-body-icon">
                  <i class="fas fa-memory"></i>
                </div>
                <div id="ram" class="mr-5">0% Ram!</div>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-sm-6 mb-3">
            <div class="card text-white bg-warning o-hidden h-100">
              <div class="card-body">
                <div class="card-body-icon">
                  <i class="fas fa-memory"></i>
                </div>
                <div id="swap" class="mr-5">0% SWAP!</div>
              </div>
            </div>
          </div>
          
          <div class="col-xl-3 col-sm-6 mb-3">
            <div class="card text-white bg-danger o-hidden h-100">
              <div class="card-body">
                <div class="card-body-icon">
                  <i class="fas fa-temperature-low"></i>
                </div>
                <div id="temperatures" class="mr-5">0°C</div>
              </div>
  
            </div>
          </div>
        </div>

        <!-- Area Chart Example-->
        <div class="card mb-3">
          <div class="card-header">
            <i class="fas fa-chart-area"></i>
            Exemplo de Gráfico de Área</div>
          <div class="card-body">
            <canvas id="myAreaChart" width="100%" height="30"></canvas>
          </div>
          <div class="card-footer small text-muted">Atualizado ontem às11:59 PM</div>
        </div>

        <!-- DataTables Example -->
        <div class="card mb-3">
          <div class="card-header">
            <i class="fas fa-table"></i>
            Exemplo de Tabela de Dados</div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Position</th>
                    <th>Office</th>
                    <th>Age</th>
                    <th>Start date</th>
                    <th>Salary</th>
                  </tr>
                </thead>
                <tfoot>
                  <tr>
                    <th>Name</th>
                    <th>Position</th>
                    <th>Office</th>
                    <th>Age</th>
                    <th>Start date</th>
                    <th>Salary</th>
                  </tr>
                </tfoot>
                <tbody>
                  <tr>
                    <td>Tiger Nixon</td>
                    <td>System Architect</td>
                    <td>Edinburgh</td>
                    <td>61</td>
                    <td>2011/04/25</td>
                    <td>$320,800</td>
                  </tr>
                  <tr>
                    <td>Garrett Winters</td>
                    <td>Accountant</td>
                    <td>Tokyo</td>
                    <td>63</td>
                    <td>2011/07/25</td>
                    <td>$170,750</td>
                  </tr>
                  
                </tbody>
              </table>
            </div>
          </div>
          <div class="card-footer small text-muted">Atualizado ontem às 11:59 PM</div>
        </div>

      </div>
      <!-- /.container-fluid -->

      
    </div>
      <!-- /.content-wrapper -->
    <script>
        var intervalo = window.setInterval(function() {
          $.get("/cpu").done(function(data) {
            $("#cpu").text(data+"% CPU!");
          });
          $.get("/ram").done(function(data) {
              $("#ram").text(data+"% RAM!");
            });
          $.get("/swap").done(function(data) {
              $("#swap").text(data+"% SWAP!");
            });
          $.get("/temperatures").done(function(data) {
              $("#temperatures").text(data+"°C!");
            });
        }, 4000);
      </script>
  </div>
  <!-- /#wrapper -->

{%  endblock %}