{% extends 'base.html' %}
{% block item_settings %}active{% endblock %}
{% block title %}{{super()}} - Telegram {% endblock %}
{% block content %}

<div id="wrapper">

        <div id="content-wrapper">
            <div class="container-fluid">

              <!-- Breadcrumbs-->
              <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                    <a href="#">Dashboard</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="{{url_for('settings')}}">Configurações</a>
                    </li>
                    <li class="breadcrumb-item active">Telegram</li>
              </ol>

              <form action="" method="post">
                {{ telegramForm.csrf_token }}

                <div class="form-group">
                  <div class="form-row">
                    <div class="col-md-5">
                      <div class="form-label-group">
                        {{ telegramForm.name(class="form-control", placeholder="name" , id="firstName",autofocus="autofocus" ) }}
                        <label for="firstName">Name</label>
                      </div>
                    </div>
                    <div class="col-md-5">
                      <div class="form-label-group">
                         {{ telegramForm.token(class="form-control", placeholder="Usuário" , id="lastName") }}
                        <label for="lastName">Token</label>
                      </div>
                    </div>
                    <div class="col-md-2">
                      <div class="form-label-group">
                        <button type="submit" class="btn btn-primary btn-block bnt-form-control" >Salvar</button>
                      </div>
                    </div>
                   
                  </div>
                </div>

              </form>
            
                  
                   <!-- DataTables  -->
            <div class="card mb-3">
                <div class="card-header">
                  <i class="fas fa-table"></i>
                  Token Telegram
                </div>
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                      <thead>
                        <tr>
                          <th>ID</th>
                          <th>Nome</th>
                          <th>Token</th>
                        </tr>
                      </thead>
                      <tfoot>
                        <tr>
                            <th>ID</th>
                            <th>Nome</th>
                            <th>Token</th>
                        </tr>
                      </tfoot>
                      <tbody>
                        {% for data in telegramData %}
                          <tr>
                            <th>{{data.id}}</th>
                            <th>{{data.name}}</th>
                            <th>{{data.token}}</th>
                          </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
          <!-- /.DataTables -->
            </div>  <script>
              document.getElementById("test").style.display == "inline"
          </script>
            <!-- /.content-fluid -->
        </div>
        <!-- /.content-wrapper -->
</div>
      <!-- /#wrapper -->
{% endblock %}