{% extends 'base.html' %}
{% block item_train %}active{% endblock %}
{% block title %}{{super()}} - Treinar {% endblock %}
{% block content %}


<div id="wrapper">

        <div id="content-wrapper">
                <div class="container-fluid">

                        <!-- Breadcrumbs-->
                        <ol class="breadcrumb">
                                <li class="breadcrumb-item">
                                <a href="#">Dashboard</a>
                                </li>
                                <li class="breadcrumb-item active">Treinar</li>
                        </ol>
                </div>
    
    
        </div>
        <!-- /.content-wrapper -->
</div>
<!-- /#wrapper -->

{% endblock %}