{% extends 'base.html' %}
{% block item_settings %}active{% endblock %}
{% block title %}{{super()}} - Usuários {% endblock %}
{% block content %}

<div id="wrapper">

        <div id="content-wrapper">
            <div class="container-fluid">

                  <!-- Breadcrumbs-->
                  <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                        <a href="#">Dashboard</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="{{url_for('settings')}}">Configurações</a>
                        </li>
                        <li class="breadcrumb-item active">Usuários</li>
                  </ol>           
            </div>
    
        </div>
        <!-- /.content-wrapper -->
      
</div>
      <!-- /#wrapper -->
{% endblock %}